<!doctype html>
<html>
<head>
  <title><%= gameName %></title>
  <meta charset="utf-8">

  <link href="styles.css" rel="stylesheet" type="text/css">
  <script src="js/lib/phaser.min.js"></script>
  <script src="js/bundle.js"></script>
</head>
<body>
  <% if (github) { %>
  <header>
    <a href="https://www.github.com/<%= github.repository %>">
      <img style="position: absolute; top: 0; right: 0; border: 0;"
        src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"
        alt="Fork me on GitHub">
    </a>
  </header>
  <% } %>

  <main>
    <div id="game"></div>
  </main>
  <footer>
    <p><strong><%= gameName %></strong><br>
      by <a href="http://github.com/<%= github.username %>"><%= github.username %></a></p>
    <p class="license">Published under the <a href="<%= license.url %>"><%= license.name %></a>
      license.</p>
  </footer>
</body>
</html>
